/build/
/coverage/
/test/
.testresults/
.coverage/
.azure-pipelines/
*.tgz*
*.tar*
.circleci/
.vscode/
.appveyor.yml
.editorconfig
commitlint.config.js
husky.config.js
jest.config.js
tsconfig.json
tslint.json
sonar-project.properties